body {
	background: #FFF;
	color: #111;
	font: 28px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
	text-align: center;
	}
	
	div, h1, h2, h3, h4, p {
		margin: 0;
		padding: 0;
		font: 28px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
		}

		h2 {
			text-indent: 50px;
		}

		h3 {
			text-indent: 150px;
		}

		h4 {
			text-indent: 200px;
		}

		f6 {
			text-indent: 200px;
		}
	
		#poem { 
			margin: auto;
			padding: 20px;
			text-align: left;
			width: 800px;
			border: 1;
			}
			
			
			p {
				line-height: 1.5;
				margin-bottom: 15px;
			}
			#poem p:first-letter {
					float: left;
					font-size: 68px;
					line-height: 1;
					margin: -15px 5px 0 0;
				}
		
			#poem p:first-line {
				font-variant: small-caps;
				letter-spacing: 1px;
				}
			
			#poem p:last-child {
				margin-bottom: 30px;
				padding-bottom: 30px;
				}
