body {
	background: #FFF;
	color: #111;
	font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
	text-align: center;
	}
	
	div, h1, h2, p {
		margin: 0;
		padding: 0;
		}
	
		#poem { 
			margin: auto;
			padding: 20px 0;
			text-align: left;
			width: 390px;
			}
		
			h1, h2 {
				font-weight: normal;
				text-align: center;
				}
				
			h1 {
				font-size: 34px;
				line-height: 1.0;
				margin-bottom: 5px;
				}
			
			h2 {
				color: #666;
				font-size: 18px;
				font-style: italic;
				margin-bottom: 30px;
				}
				
			p {
				line-height: 1.0;
				font-size: 24px;
				margin-bottom: 5px;
				}
			
			/* The magic of selectors begins... */

                        h1:before {
				content: '| ';
				}
			
			h1:after {
				content: ' |';
			}
			
			#poem h1 + p:first-letter {
					float: left;
					font-size: 64px;
					line-height: 1;
					margin: 2px 5px 0 0;
				}
				
